.text-loading-animation {
  margin: 0; /* Center the container */
  overflow-wrap: break-word; /* Enable word wrapping for long words */
  word-wrap: break-word; /* Legacy support for older browsers */
}
