@import "Colors";
@import "Effects";
@import "Fonts";

$scale_size: 0.9;

$h1: 3.812rem * $scale_size;
$h2: 2.938rem * $scale_size;
$h3: 2.250rem * $scale_size;
$h4: 1.688rem * $scale_size;
$h5: 1.312rem * $scale_size;
$h6: 1rem * $scale_size;
$small: 0.750rem * $scale_size;

h1 {
  font-size: $h1;
  margin: 0;
}

h2 {
  font-size: $h2;
  margin: 0;
}

h3 {
  font-size: $h3;
  margin: 0;
}

h4 {
  font-size: $h4;
  margin: 0;
}

h5 {
  font-size: $h5;
  margin: 0;
}

h6 {
  font-size: $h6;
  margin: 0;
}

small {
  font-size: $small;
  margin: 0;
}


