@import "Commons";

h1 {
  font-size: $h1;
  margin: 0;
}

h2 {
  font-size: $h2;
  margin: 0;
}

h3 {
  font-size: $h3;
  margin: 0;
}

h4 {
  font-size: $h4;
  margin: 0;
}

h5 {
  font-size: $h5;
  margin: 0;
}

h6 {
  font-size: $h6;
  margin: 0;
}

small {
  font-size: $small;
  margin: 0;
}