@import "../../../styles/Commons";

.bookPageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 87px;
  //max-width: 1024px;
  //min-width: 800px;
  //TODO Convert to rem
  padding: 50px 70px;
  box-sizing: border-box;
}

.book {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 700px;
  width: 60%;
}

.actions {
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 18px;
}

.author {
  @extend h4;
  @extend %roboto-bold;
}

.title {
  @extend h1;
  @extend %roboto-black;
}

.genre {
  @extend h4;
  @extend %droid-serif-italic;
  color: $gray;
}

.description {
  @extend h4;
  @extend %droid-serif-regular;
  width: 100%;
}

.isbn {
  @extend h4;
  @extend %droid-serif-regular;
  color: $gray;
}

.text_modDanger {
  color: $bloody-red !important;
}