@import "../../../styles/Commons";

.searchPageContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1440px;
  min-width: 800px;
  padding: 0 10rem;
  box-sizing: border-box;
}

.addBookButton {
  background-color: $white;
  border: 1px solid $light-gray;
  @include shadow();
  @include elevation(1);

  @extend %droid-serif-regular;
  color: $charcoal;

  &:hover {
    cursor: pointer;
    color: $charcoal;
  }
}