@import "../../../styles/Fonts";
@import "../../../styles/Commons";

.newBookPageContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 87px;
  //max-width: 1024px;
  //min-width: 800px;
  //TODO Convert to rem
  padding: 50px 80px;
  box-sizing: border-box;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 60px;
  min-width: 700px;
  width: 60%;
}

.author {
  @extend h4;
  @extend %roboto-bold;

  &::placeholder {
    color: $bloody-red;
    filter: opacity(0.6);
  }

}

.title {
  @extend h1;
  @extend %roboto-black;

  &::placeholder {
    color: $bloody-red;
    filter: opacity(0.6);
  }
}

.genre {
  @extend h4;
  @extend %droid-serif-italic;
  color: $gray;

  &::placeholder {
    color: $bloody-red;
    filter: opacity(0.6);
  }
}

.description {
  @extend h4;
  @extend %droid-serif-regular;
  width: 50%;
  min-width: 700px;
}

.isbn {
  @extend h4;
  @extend %droid-serif-regular;
  color: $gray;

  &::placeholder {
    color: $bloody-red;
    filter: opacity(0.6);
  }

}

.text_modDanger {
  color: $bloody-red !important;
}